.calculator {
	margin: 0 auto;
	width: 500px;
	text-align: center;
	background: lightblue;
	box-shadow: 0px 2px 80px -20px rgba(0,0,0,0.5);
	padding: 20px;
	border: 1px solid #333;
}

.operation-block button {
	height: 40px;
	width: 40px;
	margin: 10px;
}

.input-block input {
	margin: 2px;
	padding: 5px;
}

.input-block button {
	height: 29px;
	margin: 2px;
	padding: 5px;
}